@import "./px2-rem";
* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-size: 14px !important;
  background-color: #f3f3f3;
}
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #555555;
}
h1,h2,h3,h4 {
  margin: 0;
}
.container {
  background-color: #f3f3f3;
}
.line {
  height: 1px;
  background-color: #ADADAD;
  margin-top: 10px;
  margin-bottom: 10px;
}
//div {
//  background-image: none !important;
//}
.w1170 {
  width: 1170px;
  margin: 0 auto;
}
.w960 {
  width: 960px;
  margin: 0 auto;
}
